<?xml version="1.0" encoding="UTF-8"?>
<plugin xmlns="http://apache.org/cordova/ns/plugins/1.0"
        xmlns:android="http://schemas.android.com/apk/res/android"
        id="cordova-plugin-googleplus"
        version="8.5.8">

  <name>Google SignIn</name>
  <description>Google Sign-In plugin compatível com FirebaseX 18+</description>
  <license>MIT</license>
  <keywords>Google, Login, Authentication</keywords>

  <js-module src="www/GooglePlus.js" name="GooglePlus">
    <clobbers target="window.plugins.googleplus" />
  </js-module>

  <engines>
    <engine name="cordova" version=">=10.0.0"/>
    <engine name="cordova-ios" version=">=6.0.0"/>
    <engine name="cordova-android" version=">=10.0.0"/>
  </engines>

  <platform name="android">
    <preference name="PLAY_SERVICES_VERSION" default="21.0.1"/>
    <framework src="com.google.android.gms:play-services-auth:$PLAY_SERVICES_VERSION"/>
    <framework src="com.google.android.gms:play-services-identity:$PLAY_SERVICES_VERSION"/>
    <config-file target="res/xml/config.xml" parent="/*">
      <feature name="GooglePlus">
        <param name="android-package" value="nl.xservices.plugins.GooglePlus"/>
        <param name="onload" value="true"/>
      </feature>
      <access origin="https://accounts.google.com/*"/>
    </config-file>
    <source-file src="src/android/GooglePlus.java" target-dir="src/nl/xservices/plugins"/>
  </platform>

  <!-- iOS Platform - VERSÃO COMPATÍVEL COM FIREBASEX 18 -->
  <platform name="ios">
    <config-file target="config.xml" parent="/*">
      <feature name="GooglePlus">
        <param name="ios-package" value="GooglePlus" />
      </feature>
      <access origin="https://accounts.google.com/*" />
    </config-file>

    <header-file src="src/ios/GooglePlus.h"/>
    <source-file src="src/ios/GooglePlus.m"/>

    <preference name="REVERSED_CLIENT_ID" />

    <!-- Configurações de URL Scheme -->
    <config-file target="*-Info.plist" parent="CFBundleURLTypes">
      <array>
        <dict>
          <key>CFBundleTypeRole</key>
          <string>Editor</string>
          <key>CFBundleURLName</key>
          <string>REVERSED_CLIENT_ID</string>
          <key>CFBundleURLSchemes</key>
          <array>
            <string>$REVERSED_CLIENT_ID</string>
          </array>
        </dict>
      </array>
    </config-file>

    <config-file target="*-Info.plist" parent="LSApplicationQueriesSchemes">
      <array>
        <string>com.googleusercontent.apps</string>
      </array>
    </config-file>

    <!-- Configurações de entitlements -->
    <config-file target="*-Debug.entitlements" parent="com.apple.developer.sso" merge="merge">
      <array>
        <string>com.google.sso</string>
      </array>
    </config-file>
    <config-file target="*-Release.entitlements" parent="com.apple.developer.sso" merge="merge">
      <array>
        <string>com.google.sso</string>
      </array>
    </config-file>

    <!-- Dependências POD atualizadas para FirebaseX 18 -->
    <!-- REMOVA TODOS OS <framework> E USE SOMENTE <pod> -->
    <pod name="GoogleSignIn" spec="6.2.4" />
    <pod name="GoogleUtilities/AppDelegateSwizzler" spec="7.11.0" />
    <pod name="GoogleUtilities/UserDefaults" spec="7.11.0" />
    <pod name="GTMSessionFetcher" spec="2.1.0" />

    <!-- Adicione esta preferência para evitar conflitos -->
    <preference name="GoogleSignInVersion" value="7.0.0" />

          <plugin name="cordova-plugin-googleplus" spec="https://github.com/veggly/cordova-plugin-googleplus">
    <variable name="GOOGLESIGNINVERSION" value="7.0.0" />
</plugin>
  </platform>
</plugin>
