<?xml version="1.0" encoding="UTF-8"?>
<plugin xmlns="http://apache.org/cordova/ns/plugins/1.0"
        xmlns:android="http://schemas.android.com/apk/res/android"
        id="cordova-plugin-googleplus"
        version="8.5.6-firebasex18">

  <name>Google SignIn</name>
  <description>Google Sign-In plugin compatível com FirebaseX 18+</description>
  <license>MIT</license>
  <keywords>Google, Login, Authentication</keywords>

  <js-module src="www/GooglePlus.js" name="GooglePlus">
    <clobbers target="window.plugins.googleplus" />
  </js-module>

  <engines>
    <engine name="cordova" version=">=7.1.0"/>
    <engine name="cordova-android" version=">=6.3.0"/>
  </engines>

  <platform name="android">
    <preference name="PLAY_SERVICES_VERSION" default="21.0.1"/>
    <framework src="com.google.android.gms:play-services-auth:$PLAY_SERVICES_VERSION"/>
    <framework src="com.google.android.gms:play-services-identity:$PLAY_SERVICES_VERSION"/>
    <config-file target="res/xml/config.xml" parent="/*">
      <feature name="GooglePlus">
        <param name="android-package" value="nl.xservices.plugins.GooglePlus"/>
        <param name="onload" value="true"/>
      </feature>
      <access origin="https://accounts.google.com/*"/>
    </config-file>
    <source-file src="src/android/GooglePlus.java" target-dir="src/nl/xservices/plugins"/>
  </platform>

  <platform name="ios">
    <config-file target="config.xml" parent="/*">
      <feature name="GooglePlus">
        <param name="ios-package" value="GooglePlus"/>
        <param name="onload" value="true"/>
      </feature>
      <access origin="https://accounts.google.com/*"/>
    </config-file>
    <header-file src="src/ios/GooglePlus.h"/>
    <source-file src="src/ios/GooglePlus.m"/>

    <config-file target="*-Info.plist" parent="CFBundleURLTypes">
      <array>
        <dict>
          <key>CFBundleTypeRole</key>
          <string>Editor</string>
          <key>CFBundleURLName</key>
          <string>REVERSED_CLIENT_ID</string>
          <key>CFBundleURLSchemes</key>
          <array>
            <string>$REVERSED_CLIENT_ID</string>
          </array>
        </dict>
      </array>
    </config-file>

    
  </platform>
</plugin>
