<?xml version="1.0" encoding="UTF-8"?>
<plugin xmlns="http://apache.org/cordova/ns/plugins/1.0"
        xmlns:android="http://schemas.android.com/apk/res/android"
        id="cordova-plugin-googleplus"
        version="8.5.9-fixed">

  <name>Google SignIn</name>
  <description>Google Sign-In plugin compatível com FirebaseX 18+</description>
  <license>MIT</license>
  <keywords>Google, Login, Authentication</keywords>

  <js-module src="www/GooglePlus.js" name="GooglePlus">
    <clobbers target="window.plugins.googleplus" />
  </js-module>

  <engines>
    <engine name="cordova" version=">=10.0.0"/>
    <engine name="cordova-ios" version=">=6.0.0"/>
    <engine name="cordova-android" version=">=10.0.0"/>
  </engines>

  <platform name="ios">
    <config-file target="config.xml" parent="/*">
      <feature name="GooglePlus">
        <param name="ios-package" value="GooglePlus" />
      </feature>
      <access origin="https://accounts.google.com/*" />
    </config-file>

    <header-file src="src/ios/GooglePlus.h"/>
    <source-file src="src/ios/GooglePlus.m"/>

    <preference name="REVERSED_CLIENT_ID" />
    <preference name="GOOGLESIGNINVERSION" default="7.0.0" />

    <config-file target="*-Info.plist" parent="CFBundleURLTypes">
      <array>
        <dict>
          <key>CFBundleTypeRole</key>
          <string>Editor</string>
          <key>CFBundleURLName</key>
          <string>REVERSED_CLIENT_ID</string>
          <key>CFBundleURLSchemes</key>
          <array>
            <string>$REVERSED_CLIENT_ID</string>
          </array>
        </dict>
      </array>
    </config-file>

    <config-file target="*-Info.plist" parent="LSApplicationQueriesSchemes">
      <array>
        <string>com.googleusercontent.apps</string>
      </array>
    </config-file>

    <pod name="GoogleSignIn" spec="$GOOGLESIGNINVERSION" />
    <pod name="GTMSessionFetcher" spec="2.1.0" />
    <pod name="GoogleUtilities/AppDelegateSwizzler" spec="7.11.0" />
    <pod name="GoogleUtilities/UserDefaults" spec="7.11.0" />
  </platform>
</plugin>
